.button, body{
    background-image: url("../images/gameBoard.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color:#000;
    color: #fff;
    font-family: 'Russo One', sans-serif;
}

#game{
    border-left: 20-px solid purple;

}
.jumbotron{
    background-image: url("../images/jeopardy.jpg");
    height: 630px;
    background-repeat: no-repeat;
    background-color: black;
    margin-bottom: 0;
}

.fluid{
    height: 270px;
    background-repeat: no-repeat;
    
}

#timeRemaining{
    color: white;
}

h4{
    margin-bottom: 20px;
    padding: 10px;
}

ul {
    list-style: none;
    font-size: 28px;
}

i{
    font-family: 'Courier New', Courier, monospace;
}

.music{
    margin-top: 20px;
}
.outlineElement {  
    background-color: purple;
}

.btn-block{
    background-color: transparent;  
}

.btn:a{
    outline: none;
}

.audio{
    position: relative;
    float: right;
}

#timeRemaining{
    position: absolute;
}

#timer{
    margin: 0;
}

@media and screen{(max-width: 720px);
    .jumbotron{
        width: 100%;
    }
}